@model BookStoreApp.Models.Category

@{
    ViewBag.Title = "Browse";
}

<h3>Book Category : <font color="#428bca">@Model.CategoryName</font></h3>


<div class="row">
    
        @foreach (var book in Model.Books)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img alt="@book.Title" src="http://placehold.it/320x150" height="150" width="320" />
                <div class="caption">
                    <h4 class="pull-right">Rs. @book.Price</h4>
                    <h4>
                        <a href="@Url.Action("Details", new { id = book.BookId })">@book.Title</a>
                    </h4>
                    <p>@book.Description</p>
                </div>

            </div>
                </div>
            
        }

    
    </div>

