<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <!-- /.navbar-collapse -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Book Store", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                    <li>@Html.ActionLink("Filter", "Search", "Home")</li>
                    <li>@Html.ActionLink("Review Book", "Search", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="body-content row">
        <div class="col-md-2 navbar ">
            @{Html.RenderAction("CategoryMenu", "Home");}
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
        
        
    </div>
    <hr />
    <div class="row col-lg-12">
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Cybage Softwares Pvt. Ltd.</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>

